* {
  text-rendering: optimizeLegibility;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  --dark-orange: #f0a868;
  --light-orange: #ffe8c2;
  --light-green: #e4ffe1;
  --yellow-green: #f4fdd9;
  --dark-green: #6a8d73;

  margin: 0;
  font-family: "Jersey 25", sans-serif;
  height: 100%;
}

.name {
  width: 100%;
  text-align: center;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ani-input {
  width: 100%;
  max-width: 300px;
  height: 36px;
  font-family: "Jersey 25", sans-serif;
  font-size: xx-large;
  background: none;
  border: none;
  border-bottom: 2px solid var(--dark-green);
  outline: none;
  text-align: center;
  position: relative; /* Positioning context for cursor */
}

#keyboard {
  width: 100%;
  padding: 80px 4px;
  margin: 24px;
  display: grid;
  grid-template-rows: 3fr;
  row-gap: 12px;
}

.key-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  position: relative;
  max-width: 5rem;
  height: 4rem;
  font-family: "Jersey 25", sans-serif;
  font-size: xx-large;
  background: none;
  border-radius: 8px;
  border: none;
  color: black;
  background-color: var(--light-green);
  box-shadow: 0 0 8px 0 var(--dark-green);
  /* border: 2px solid darkslategray; */

  transform: translate3d(0, 0, 12px);
  transform-style: preserve-3d;
  transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}

.key::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 100%;
  max-width: 5rem;
  height: 4rem;
  border-bottom: 4px solid var(--dark-green);
  border-radius: 8px;
}

.space-bar,
.space-bar::after {
  width: 100%;
  max-width: 30rem;
}

.backspace,
.backspace::after {
  width: 100%;
  max-width: 10rem;
}

.click {
  background-color: var(--dark-green);
  color: white;
  border-color: black;
  transform: translate3d(0, 2px, 12px);
  box-shadow: 0 0 4px 0 var(--dark-green);
}

#hint {
  width: 100%;
  text-align: center;
  font-size: x-large;
  color: var(--dark-orange);
}

.container {
  background-color: var(--yellow-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-size: xx-large;
  font-family: "Jersey 25", sans-serif;
  padding: 20px;
}

.section img {
  width: 100%;
  border: 2px solid var(--dark-orange);
  border-radius: 12px;
}

.image-container a {
  display: flex;
  gap: 4px;
}

@media screen and (max-width: 765px) {
  html {
    overflow-x: hidden;
  }

  .home {
    height: 100%;
    overflow: hidden;
  }

  #form {
    height: 100%;
    justify-content: space-around;
  }

  #keyboard {
    padding: 10px;
    margin: 0;
    max-width: 350px;
    padding-bottom: 100px;
  }
  .image-container a {
    display: flex;
    flex-direction: column;
  }

  .key-row {
    gap: 4px;
  }

  .key {
    padding: 0;
    box-shadow: 0 0 4px 0 var(--dark-green);
  }

  .space-bar::after {
    max-width: unset;
  }

  _::-webkit-full-page-media, _:future, :root #keyboard {
    padding-bottom: 165px;
}
}

.about {
  min-height: 100%;
  background-color: var(--light-green);
  padding: 40px;
}

.about p {
  font-size: xx-large;
  font-family: "Jersey 25", sans-serif;
}

.about li {
  font-size: xx-large;
}

.enter-button {
  min-width: 50px;
  transform: rotate(90deg);
}

.backspace-button {
  min-width: 50px;
}
